<div layout="column" 
        ng-controller="PaintingController as ul"
        ng-cloak>
  <!-- Header -->
  <md-toolbar layout="row" layout-align="space-around center">
    <span>
      <md-button class="menu" 
          hide-gt-sm 
          aria-label="Menu"
          ng-click="ul.toggleList()" >
        <md-icon md-svg-icon="menu"></md-icon>
      </md-button>
      <div class="header">
        <md-button ng-class="{'selected' : it === ul.selected }"
          href="#/game">Play</md-button>
      </div>
    </span>
    <span>
      <img class="right" 
        aria-label="The Button"
        ng-src="assets/png/vincent-white.png"/>
    </span>
  </md-toolbar>

  <!-- list view -->
  <div flex layout="row">
      <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" 
        class="md-whiteframe-z2" 
        md-component-id="left">
        <md-list>

          <!-- browse all artists view -->
          <md-item ng-repeat="it in ul.paintings">
            <md-button 
              ng-click="ul.selectPainting(it)" 
              ng-class="{'selected' : it === ul.selected }">
              <md-content 
                flex id="content">
                <!-- Hide the thumbnail for the list of painters -->
                <div ng-show="ul.painterView">
                  <h5>{{it.title}}</h5>
                </div>
              </md-content>
            </md-button>
          </md-item>

        </md-list>
      </md-sidenav>

    <!-- Detail view -->
    <div  ng-hide="ul.selected.image">
          <p class="loading content">
          Please wait while the images are loaded...</p>
    </div>
    <div ng-show="ul.selected.image"
         layout="column">  
      <md-content flex id="content">
        <md-card layout-align="center">

            <img ng-src="{{ul.selected.image}}" 
              id="main-image"
              class="loading"
              painting-load-directive/>

            <!-- browse view -->
            <md-card-content>
              {{ul.selected.title}}, {{ul.selected.date}}
            </md-card-content>
          <md-card-footer>{{ul.selected.size}}</md-card-footer>

          </md-card>
            <md-button class="share" md-no-ink ng-click="ul.loadPainter($event)" aria-label="Load">
              <md-icon md-svg-icon="share"></md-icon>
            </md-button>
      </md-content>

      <md-button class="share" md-no-ink ng-click="ul.share($event)" aria-label="Share">
          Share
      </md-button>
</div>