<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>List of Paintings by Vincent Van Gogh</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" 
          content="IE=edge">
    <meta name="description" 
          content="">
    <meta name="viewport" 
      content="initial-scale=1, maximum-scale=1, painting-scalable=no" />
    <link rel='stylesheet' 
          href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" 
          href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" 
          href="assets/app.css"/>
  </head>
  <body ng-app="starterApp" 
        layout="column" 
        ng-controller="PaintingController as ul">
    <md-toolbar layout="row">
      <md-button class="menu" 
          hide-gt-sm 
          ng-click="ul.toggleList()" 
          aria-label="Show Painting List">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <h1>List of Paintings by Vincent Van Gogh</h1>
    </md-toolbar>
    <div flex layout="row">
        <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2" md-component-id="left">
          <md-list>
            <md-item ng-repeat="it in ul.paintings">

              <md-button 
                ng-click="ul.selectPainting(it)" 
                ng-class="{'selected' : it === ul.selected }">
                <md-content 
                  flex id="content">
                    <img src="{{it.url}}" 
                      alt="image caption">
                      <h5 class="md-subhead">{{it.title}}</h5>
                </md-content>
              </md-button>

            </md-item>
          </md-list>
        </md-sidenav>

      <!-- Detail view -->
      <div  ng-hide="ul.selected.url">
            <p class="loading">
            Please wait while the images are loaded...</p>
      </div>
      <div ng-show="ul.selected.url"
           layout="column">  
        <md-content flex id="content">
          <md-card>
              <img src="{{ul.selected.largeUrl}}" alt="image caption">
                <md-card-content>
                </md-card-content>
              <md-card-footer>{{ul.selected.title}}</md-card-footer>
            </md-card>
            <!--md-button class="share" md-no-ink ng-click="ul.share($event)" aria-label="Share">
            <md-icon md-svg-icon="share"></md-icon-->
          </md-button>
        </md-content>
      </div>

    </div>

    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>

    <script src="./src/paintings/Paintings.js"></script>
    <script src="./src/paintings/PaintingController.js"></script>
    <script src="./src/paintings/PaintingService.js"></script>

    <script type="text/javascript">

          angular
              .module('starterApp', ['ngMaterial', 'paintings'])
              .config(function($mdThemingProvider, $mdIconProvider){

                  $mdIconProvider
                      .defaultIconSet("./assets/svg/avatars.svg", 128)
                      .icon("menu"       , "./assets/svg/menu.svg"        , 24)
                      .icon("share"      , "./assets/svg/share.svg"       , 24)
                      .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
                      .icon("hangouts"   , "./assets/svg/hangouts.svg"    , 512)
                      .icon("twitter"    , "./assets/svg/twitter.svg"     , 512)
                      .icon("phone"      , "./assets/svg/phone.svg"       , 512);

                      $mdThemingProvider.theme('default')
                          .primaryPalette('green')
                          .accentPalette('red');

              });

    </script>

  </body>
</html>
